body {
	font-family: Josef reduced, sans-serif;
	color: black;
	background: white;
}

.title {
	font-size: 64px;
	text-align: center;
}

.subtitle {
	font-size: 32.5px;
	text-align: center;
}

.body1 {
	color: black;
	font-size: 18px;
	margin-left: 160px;
	margin-right: 496px;
	text-align: justify;
	padding: 5px;
	background-color: black;
	animation-name: bodyText;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-delay: 2s;
	animation-timing-function: linear;
  	animation-fill-mode: forwards;
}

.body1:hover {
	color: black;
	background-color: red;
}

.timing {
	font-size: 37px;
	margin-left: 740px;
	margin-right: 160px;
	margin-top: -158px;
	text-align: center;
	padding: 15px;
	background-color: black;
	color: black;
	animation-name: flicker;
	animation-duration: .1s;
	animation-iteration-count: 4;
	animation-delay: 6s;
	animation-timing-function: linear;
  	animation-fill-mode: forwards;
}

.timing:hover {
	opacity: .5;
}

.location {
	font-size: 37px;
	margin-left: 160px;
	margin-right: 660px;
	margin-top: 5px;
	text-align: center;
	padding: 15px;
	padding-top: 20px;
	padding-bottom: 18px;
	background-color: black;
	color: black;
	animation-name: flicker;
	animation-duration: .1s;
	animation-iteration-count: 4;
	animation-delay: 6.5s;
	animation-timing-function: linear;
  	animation-fill-mode: forwards;
}

.location:hover {
	opacity: .5;
}

.body2 {
	font-size: 18px;
	margin-left: 576px;
	margin-right: 160px;
	margin-top: -158px;
	text-align: justify;
	padding: 5px;
	background-color: black;
	color: black;
	animation-name: bodyText;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-delay: 3s;
	animation-timing-function: linear;
  	animation-fill-mode: forwards;
}

.body2:hover {
	color: black;
	background-color: red;
}

.body3 {
	font-size: 18px;
	margin-left: 160px;
	margin-right: 300px;
	margin-top: -10px;
	text-align: justify;
	padding: 5px;
	background-color: black;
	color: black;
	animation-name: bodyText;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-delay: 4s;
	animation-timing-function: linear;
  	animation-fill-mode: forwards;
}

.body3:hover {
	color: black;
	background-color: red;
}

.cost {
	font-size: 37px;
	margin-left: 937px;
	margin-right: 160px;
	margin-top: -158px;
	text-align: center;
	padding: 15px;
	padding-top: 18px;
	padding-bottom: 18.5px;
	background-color: black;
	color: black;
	animation-name: flicker;
	animation-duration: .1s;
	animation-iteration-count: 4;
	animation-delay: 7s;
	animation-timing-function: linear;
  	animation-fill-mode: forwards;
}

.cost:hover {
	opacity: .5;
}

@keyframes bodyText {
	from {color: black;}
	to {color: white}
}

@keyframes flicker {
	from {color: black;}
	to {color: white;}
}


