body {
	background-color: black
}

.title {
	position: fixed;
	font-size: 32px;
	font-family: century gothic, futura, sans-serif;
	color: white;
	margin-top: 30px;
	margin-left: 30px;
}

.examples {
	margin-top: 80px;
	margin-left: 32px;
	font-size: 22px;
	font-family: century gothic, futura, sans-serif;
	color: white;
}

a. {
	color: white;
	font-size: 22px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: blue
}

a:active {
    text-decoration: none;
}

.info {
	font-size: 22px;
	font-family: century gothic, futura, sans-serif;
	color: white;
	margin-left: 32px;
	margin-top: 40px;
	margin-right: 750px;
}

.body-text {
	font-size: 22px;
	font-family: century gothic, futura, sans-serif;
	color: white;
	margin-left: 500px;
	margin-top: -260px;
	margin-right: 150px;
}


